*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.git-broken/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/build
/database/database.sqlite
/node_modules
/public/build
/public/branding
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/process-temp/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/src-tauri
!/src-tauri/
/src-tauri/*
!/src-tauri/Cargo.toml
!/src-tauri/Cargo.lock
!/src-tauri/build.rs
!/src-tauri/src/
!/src-tauri/src/**
!/src-tauri/icons/
!/src-tauri/icons/**
!/src-tauri/tauri.linux.conf.json
!/src-tauri/tauri.windows.conf.json
/vad-cli/target
/whisper/models/*.bin
